<br />

<h1>{{course.name}}</h1>
<h4 class="ml-2" style="color: rgb(182, 190, 202)">課程行事曆</h4>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">上課日期</th>
      <th scope="col">期數</th>
      <th scope="col">課程內容</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each calendars}}
    {{#if this.isActive}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.date}}</td>
      <td>第{{this.period}}期</td>
      <td>{{this.content}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/courses/{{../course.id}}/calendar/{{this.id}}/edit">
            修改行事曆
          </a>
        </button>
        <form action="/admin/courses/{{../course.id}}/calendar/{{this.id}}/close?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-sm btn-danger">關閉點名</button>
        </form>
      </td>
    </tr>
    {{else}}
    <tr class="table-secondary">
      <th scope="row">{{this.id}}</th>
      <td>{{this.date}}</td>
      <td>第{{this.period}}期</td>
      <td>{{this.content}}</td>
      <td>
        <button type="button" class="btn btn-link disabled">
          <a href="/admin/courses/{{../course.id}}/calendar/{{this.id}}/edit">
            修改行事曆
          </a>
        </button>
        <form action="/admin/courses/{{../course.id}}/calendar/{{this.id}}/open?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-sm btn-warning">開啟點名</button>
        </form>
      </td>
    </tr>
    {{/if}}
    {{/each}}
  </tbody>
</table>
</table>

<br />

<div class="row ml-2">
  <form action="/admin/courses/{{course.id}}/calendar" method="POST">
    <button type="submit" class="btn btn-primary">新增下一期課程行事曆</button>
  </form>

  {{#if isPeriodNotEqualOne}}
  <form action="/admin/courses/{{course.id}}/calendar?_method=DELETE" method="POST" style="display: inline;">
    <button type="submit" class="btn btn-danger ml-2">刪除最新一期課程行事曆</button>
  </form>
  {{/if}}
  <p class="my-2 mx-2" style="color: rgb(192, 77, 57);">※新增課程行事曆或刪除課程行事曆都會影響前台課程顯示的期數，請謹慎使用</p>
</div>

<br />

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="/admin/courses/{{course.id}}/calendar?page={{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each totalPage}}
    {{#ifCond this ../page}}
    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
    {{else}}
    <li class="page-item"><a class="page-link"
      href="/admin/courses/{{../course.id}}/calendar?page={{this}}">{{this}}</a></li>
    {{/ifCond}}
    {{/each}}
    <li class="page-item"><a class="page-link" href="/admin/courses/{{course.id}}/calendar?page={{next}}"
        aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<a href="/admin/courses">回到後台課程頁面</a>
