<br />

<h1>資料管理後台</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/admin/cramschool">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/admin/courses">課程</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/teachers">教師清單</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/students">學生清單</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">使用者管理</a>
  </li>
</ul>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">課程名稱</th>
      <th scope="col">上課時長</th>
      <th scope="col">計費方式</th>
      <th scope="col">堂數</th>
      <th scope="col">價格</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.time}} 分鐘</td>
      <td>{{this.type}}</td>
      <td>{{this.amounts}}堂 / 期</td>
      <td>{{this.price}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/courses/{{this.id}}/calendar">
            顯示課程行事曆
          </a>
        </button>
        <button type="button" class="btn btn-link">
          <a href="/admin/courses/{{this.id}}/edit">
            修改
          </a>
        </button>
        <form action="/admin/courses/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">刪除</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</table>

<br />
<br />

<a href='/admin/courses/create'>
  <button type="button" class="btn btn-primary">建立新課程</button>
</a>