<br />

<div class="card">
  <h1 class="card-header">{{course.name}}</h1>
  <div class="card-body">
    <h5 class="card-text"><strong>上課時長 : </strong> {{course.time}} 分鐘</h5>
    <h5 class="card-text"><strong>計費方式 : </strong> {{course.type}}</h5>
    <h5 class="card-text"><strong>堂數 : </strong> {{course.amounts}} 堂/期</h5>
    <h5 class="card-text"><strong>價格 : </strong> {{course.price}} 元</h5>
  </div>
</div>

<hr>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>