<br />

<h1>{{course.name}}</h1>
<h4 class="ml-2" style="color: rgb(182, 190, 202)">課程行事曆</h4>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">上課日期</th>
      <th scope="col">期數</th>
      <th scope="col">課程內容</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each calendars}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.date}}</td>
      <td>第{{this.period}}期</td>
      <td>{{this.content}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/courses/{{this.id}}/calendar/edit">
            修改行事曆
          </a>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</table>

<br />

<div class="row">
  <form action="/admin/courses/{{course.id}}/calendar/create" method="POST">
    <button type="submit" class="btn btn-primary">新增下一期課程</button>
  </form>

  {{#if isPeriodNotEqualOne}}
  <form action="/admin/courses/{{course.id}}/calendar?_method=DELETE" method="POST" style="display: inline;">
    <button type="submit" class="btn btn-danger ml-2">刪除最新一期課程</button>
  </form>
  {{/if}}
</div>

<br />

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="/admin/courses/{{course.id}}/calendar?page={{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each totalPage}}
    {{#ifCond this ../page}}
    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
    {{else}}
    <li class="page-item"><a class="page-link"
      href="/admin/courses/{{../course.id}}/calendar?page={{this}}">{{this}}</a></li>
    {{/ifCond}}
    {{/each}}
    <li class="page-item"><a class="page-link" href="/admin/courses/{{course.id}}/calendar?page={{next}}"
        aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>