{{#if course}}
<form action="/admin/courses/{{course.id}}?_method=PUT" method="POST">
{{else}}
<form action="/admin/courses" method="POST">
{{/if}}
  <div class="form-group">
    <label for="name">課程名稱</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="輸入課程名稱" value="{{course.name}}" required>
  </div>

  <div class="form-group">
    <label for="time">上課時長</label>
    <select class="form-control" name="time" id="time" value="{{course.time}}">
      <option value="90">90分鐘</option>
      <option value="60">60分鐘</option>
    </select>
  </div>

  <div class="form-group">
    <label for="type">計費方式</label>
    <select class="form-control" name="type" id="type" value="{{course.type}}">
      <option value="依堂數計費">依堂數計費</option>
      <option value="依月計費">依月計費</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="amounts">堂數</label>
    <input type="number" class="form-control" name="amounts" id="amounts" min="0" value="{{course.amounts}}" placeholder="輸入堂數" required>
  </div>

  <div class="form-group">
    <label for="price">價錢</label>
    <input type="number" class="form-control" name="price" id="price" min="0" value="{{course.price}}" placeholder="輸入價格" required>
  </div>

  <button type="submit" class="btn btn-primary">送出資料</button>
</form>