{{#if student}}
<form action="/admin/students/{{student.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
{{else}}
<form action="/admin/students" method="POST" enctype="multipart/form-data">
  {{/if}}
  <div class="form-group">
    <label for="name">學生名稱</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="輸入學生名稱.." value="{{student.name}}"
      required>
  </div>
  
  <div class="form-group">
    <label for="sex">性別</label>
    <select class="form-control" name="sex" id="sex">
      {{#each sexList}}
      <option value="{{this.sex}}" 
        {{#ifCond ../student.sex this.sex}} 
          selected 
        {{/ifCond}}>{{this.sex}}
      </option>
      {{/each}}
    </select>
  </div>
  
  <div class="form-group">
    <label for="birth">生日</label>
    <input type="date" class="form-control" name="birth" id="birth" placeholder="輸入出生年月日.." value="{{student.birth}}"
      required>
  </div>
  
  <div class="form-group">
    <label for="school">學校</label>
    <input type="text" class="form-control" name="school" id="school" placeholder="輸入學校.." value="{{student.school}}"
      required>
  </div>
  
  <div class="form-group">
    <label for="grade">年級</label>
    <select class="form-control" name="grade" id="grade">
      {{#each gradeList}}
      <option value="{{this.grade}}" 
        {{#ifCond ../student.grade this.grade}} 
          selected 
        {{/ifCond}}>{{this.grade}}
      </option>
      {{/each}}
    </select>
  </div>
  
  <div class="form-group">
    <label for="tel">聯絡電話</label>
    <input type="text" class="form-control" name="tel" id="tel" placeholder="輸入電話號碼.." value="{{student.tel}}" required>
  </div>
  
  <div class="form-group">
    <label for="address">地址</label>
    <input type="text" class="form-control" name="address" id="address" placeholder="輸入地址.." value="{{student.address}}"
      required>
  </div>
  
  <div class="form-group">
    <label for="image">照片</label>
    <input type="file" class="form-control-file" id="image" name="image">
  </div>
  
  <div class="form-group">
    <label for="status">狀態</label>
    <select class="form-control" name="status" id="status">
      {{#each statusList}}
      <option value="{{this.id}}" 
        {{#ifCond ../student.status this.id}} 
          selected 
        {{/ifCond}}>{{this.status}}
      </option>
      {{/each}}
    </select>
  </div>

  <button type="submit" class="btn btn-primary">送出資料</button>
</form>