<form action="/admin/teachers/{{teacher.id}}?_method=PUT" method="POST">
  <div class="form-group">
    <label for="name">教師名稱</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="輸入教師名稱.." value="{{teacher.name}}"
      required>
  </div>
  
  <div class="form-group">
    <label for="sex">性別</label>
    <select class="form-control" name="sex" id="sex">
      {{#each sexList}}
        <option value="{{this.sex}}"
          {{#ifCond ../teacher.sex this.sex}} 
            selected 
          {{/ifCond}}
        >{{this.sex}}</option>
      {{/each}}
    </select>
  </div>
  
  <div class="form-group">
    <label for="birth">生日</label>
    <input type="date" class="form-control" name="birth" id="birth" value="{{teacher.birth}}" placeholder="輸入出生年月日.."
      required>
  </div>
  
  <div class="form-group">
    <label for="phone">聯絡方式</label>
    <input type="text" class="form-control" name="phone" id="phone" value="{{teacher.phone}}" placeholder="輸入聯絡方式.."
      required>
  </div>
  
  <div class="form-group">
    <label for="address">聯絡地址</label>
    <input type="text" class="form-control" name="address" id="address" value="{{teacher.address}}"
      placeholder="輸入聯絡地址.." required>
  </div>
  
  <div class="form-group">
    <label for="education">最高學歷</label>
    <input type="text" class="form-control" name="education" id="education" value="{{teacher.education}}"
      placeholder="輸入最高學歷.." required>
  </div>
  
  <div class="form-group">
    <label for="school">學校</label>
    <input type="text" class="form-control" name="school" id="school" value="{{teacher.school}}" placeholder="輸入學校.."
      required>
  </div>

  <div class="form-group">
    <label for="status">狀態</label>
    <select class="form-control" name="status" id="status">
      {{#each statusList}}
        <option value="{{this.status}}" 
          {{#ifCond ../teacher.status this.status}} 
            selected 
          {{/ifCond}}
        >{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">更新個人資料</button>
</form>