<br />

<h1>資料管理後台</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/admin/cramschool">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/courses">課程</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/teachers">教師清單</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/students">學生清單</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/admin/users">使用者管理</a>
  </li>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">名稱</th>
      <th scope="col">信箱</th>
      <th scope="col">使用者身分</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      {{#if isAdmin}}
      <td>管理員</td>
      <td>
        <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">
            切換為使用者
          </button>
        </form>
      </td>
      {{else}}
      <td>一般使用者</td>
      <td>
        <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">
            切換為管理員
          </button>
        </form>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>