<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/cramschool">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/cramschool/courses">課程列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/teachers">教師列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/students">學生列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/attend">課程點名</a>
  </li>
  {{#if isAdmin}}
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/payment">繳費紀錄</a>
  </li>
  {{/if}}
</ul>

<br>

<div class="row">
  {{#each courses}}
  <div class="col-md-4 ">
    <div class="card mt-3">
      <div class="card-header">
        <h5><strong>{{this.name}}</strong></h5>
      </div>
      <div class="card-body" style="color: rgb(28, 36, 49)">
        <h5 class="card-title" style="color: rgb(35, 95, 192)"><strong style="color: rgb(18, 25, 36)">授課老師: </strong>
          {{this.Teacher.name}}</h5>
        <h6 style="color: rgb(154, 166, 184)"><strong>上課時長: {{this.time}}</strong>分鐘</h6>
        <p class="mt-1" style="color: rgb(228, 182, 57)"><strong>堂數: {{this.amounts}}</strong>堂 / 期</p>
        <a href="/cramschool/courses/{{this.id}}/calendar" class="btn btn-dark">課程行事曆</a>
        <a href="/cramschool/courses/{{this.id}}/enrolledstudents" class="btn btn-secondary">學生名單</a>
        {{#ifCond this.Teacher.id ../user.Teacher.id }}
        <a href="/cramschool/courses/{{this.id}}/diaries" class="btn btn-warning">教師日誌</a>
        {{else}}
        <a href="/cramschool/courses/{{this.id}}/diaries" class="btn btn-warning disabled">教師日誌</a>
        {{/ifCond}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
