<br>

<h1>{{course.name}}</h1>

<div class="row justify-content-between">
  <h4 class="ml-4 mb-2" style="color: rgb(126, 120, 113);">課程行事曆</h4>
  <h5 class="mr-4 my-1" style="color: rgb(211, 178, 141);">
    <strong style="color: rgb(218, 166, 107);">目前期數: 第 {{maxPeriod}} 期 </strong>
  </h5>
</div>

<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">上課日期</th>
      <th scope="col">課程內容</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each calendars}}
    {{#if isActive}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.date}}</td>
      <td>{{this.content}}</td>
      <th scope="col">
        <a href="/cramschool/attend/courses/{{../course.id}}/calendar/{{this.id}}" class="btn btn-sm btn-dark">點名</a>
      </th>
    </tr>
    {{else}}
    <tr class="table-secondary">
      <th scope="row">{{this.id}}</th>
      <td>{{this.date}}</td>
      <td>{{this.content}}</td>
      <th scope="col">
        <a href="/cramschool/attend/courses/{{../course.id}}/calendar/{{this.id}}" class="btn btn-sm btn-dark disabled">點名</a>
      </th>
    </tr>
    {{/if}}
    {{/each}}
  </tbody>
</table>

<br />
<br />
<a href="/cramschool/attend">回到點名系統首頁</a>