<br>

<h1>{{course.name}}</h1>

<h5 class="ml-2" style="color: rgb(126, 120, 113);">課程行事曆</h5>

<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">上課日期</th>
      <th scope="col">課程內容</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each calendars}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.date}}</td>
      <td>{{this.content}}</td>
      <th scope="col">
        <a href="/cramschool/courses/{{this.id}}/attend" class="btn-sm btn-dark">點名</a>
      </th>
    </tr>
    {{/each}}
  </tbody>
</table>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>