<br />

<h1>{{course.name}}</h1>

<div class="row justify-content-between">
  <h4 class="ml-4 my-1" style="color: rgb(116, 122, 133)">課程行事曆</h4>
  <h5 class="mr-4 my-1" style="color: rgb(211, 178, 141);">
    <strong style="color: rgb(218, 166, 107);">目前期數: 第 {{currentPeriod}} 期 </strong>
  </h5>
</div>
<div class="row ml-1 mt-2" style="color: rgb(97, 138, 202)">
  <h6 class="mx-2"><strong>上課期間 :</strong></h6>
  <h6 class="mx-1">{{firstCalendarDate}}</h6>
  <h6 class="mx-1"> ~ </h6>
  <h6 class="mx-1"> {{lastCalendarDate}}</h6>
</div>

<div class="row">
  {{#each calendars}}
  {{#if this.isActive}}
  <div class="col-md-3">
    <div class="card mt-3">
      <div class="card-header bg-warning">
        <h5><strong>{{this.date}}</strong></h5>
      </div>
      <div class="card-body" style="color: rgb(28, 36, 49); min-height: 240px">
        <h5><strong>課程進度:</strong></h5>
        <h5 class="card-title" style="color: rgb(53, 84, 133)">{{this.content}}</h5>
      </div>
    </div>
  </div>
  {{else}}
  <div class="col-md-3">
    <div class="card mt-3 text-white">
      <div class="card-header bg-dark" style="background-color: darkgray;">
        <h5><strong>{{this.date}}</strong></h5>
      </div>
      <div class="card-body" style="color: rgb(28, 36, 49); min-height: 240px; background-color: rgb(224, 224, 224);">
        <h5><strong>課程進度:</strong></h5>
        <h5 class="card-title" style="color: rgb(53, 84, 133)">{{this.content}}</h5>
        <br />
        <h5 style="color: rgba(243, 55, 55, 0.911);"><strong>---- 此堂課已結束 ----</strong></h5>
      </div>
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>

<br />
<br />
<a href="/cramschool/courses">回到課程列表</a>