<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/cramschool">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/courses">課程列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/teachers">教師列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/students">學生列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/attend">課程點名</a>
  </li>
  {{#if isAdmin}}
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/payment">繳費紀錄</a>
  </li>
  {{/if}}
</ul>

<br>

<div class="card">
  <div class="card-body"  style="color: rgb(211, 56, 35);">
    ※新進教師請點選右上角個人資料 -> 新增/修改個人資料 來填寫完整的個人資訊，謝謝合作！
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="card-header">教師日誌</h4>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {{#each diaries}}
            <li class="list-group-item">
              <h6><strong>{{this.Course.name}}</strong></h6>
              <h6>日期 : {{this.date}}</h6>
              <a href="/cramschool/courses/{{this.Course.id}}/diaries/{{this.id}}">{{this.subject}}</a>
            </li>
            {{/each}}
          </ul>
          <div class="row justify-content-end">
            <a href="/cramschool/diaries" class="mt-3 mr-2">>> 教師日誌列表</a>
          </div>
          
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="card-header">近期會議記錄</h4>
        <div class="card-body">
          <ul class="list-group list-group-flush">
          {{#each meetings}}
            <li class="list-group-item">
              <h6>開會日期 : {{this.date}}</h6>
              <a href="/cramschool/meetings/{{this.id}}">{{this.subject}}</a>
            </li>
          {{/each}}
          </ul>
          <div class="row justify-content-end">
            <a href="/cramschool/meetings" class="mt-3 mr-2">>> 會議記錄列表</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>