<br>

<h1>{{course.name}}</h1>

<h4 class="ml-2 mt-2" style="color: rgb(126, 120, 113);">教師日誌</h4>

<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">日期</th>
      <th scope="col">主題</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each diaries}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.date}}</td>
      <td>{{this.subject}}</td>
      <td>
        <a href="/cramschool/courses/{{../course.id}}/diaries/{{this.id}}" class="btn btn-sm btn-dark my-1">日誌內容</a>
        <form action="/cramschool/courses/{{../course.id}}/diaries/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-sm btn-danger btn ml-1 my-1">刪除</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<a href="/cramschool/courses/{{course.id}}/diaries/create" class="btn btn-primary">建立教師日誌</a>

<br />
<br />
<a href="/cramschool/courses">回課程列表</a>