<h2><strong>{{tuition.Course.name}}</strong></h2>
<h4 style="color: rgb(87, 84, 84);"><strong>第 {{tuition.period}} 期學費表</strong></h4>
<h5 style="color: rgb(153, 151, 147);"><strong>學生: {{tuitionStudent.Student.name}}</strong></h5>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">費用名稱</th>
          <th scope="col">價格</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light">
          <td></td>
          <td>基本學費</td>
          <td>{{tuition.Course.price}}</td>
          <td></td>
        </tr>
        {{#each tuitionFees}}
        <tr class="table-light">
          <td>+</td>
          <td>{{this.name}}</td>
          <td>{{this.price}}</td>
          <td>
            <form action="/cramschool/tuition/{{../tuition.id}}/extrafee/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-sm btn-danger">-</button>
            </form>
          </td>
        </tr>
        {{/each}}
        <tr class="table-light">
          <td colspan="2" style="text-align: start;">
            <h5><strong>總和: </strong></h5>
          </td>
          <td colspan="2" style="text-align: start;">
            <h5>{{total}}</h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr class="thead-dark">
          <th colspan="3" scope="col" style="text-align: center;">可增加費用列表</th>
        </tr>
        <tr class="table-secondary">
          <th scope="col">費用名稱</th>
          <th scope="col">價格</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each extrafees}}
        {{#if this.isExisted }}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.price}}</td>
          <td>
            <form action="/cramschool/tuition/{{../tuition.id}}/extrafee/{{this.id}}" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-sm btn-primary">+</button>
            </form>
          </td>
        </tr>
        {{/if}}
        {{/each}}
        <tr>
      </tbody>
    </table>
  </div>
</div>

<br />
<br />

<div class="row">
  <form action="/cramschool/tuition/{{tuition.id}}" method="POST" style="display: inline;">
    <button type="submit" class="btn btn-primary">確認學費表</button>
  </form>
  <p class="mx-2 my-2" style="color: brown;">*確認學費表並建立收費紀錄</p>
</div>
