<br>

<h3 class="ml-2" style="color: rgb(75, 66, 57);">會議記錄列表</h3>

<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">開會日期</th>
      <th scope="col">主題</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each meetings}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.date}}</td>
      <td>{{this.subject}}</td>
      <td>
        <a href="/cramschool/meetings/{{this.id}}" class="btn btn-dark btn-sm my-1">
          會議內容
        </a>
        {{#if ../isAdmin}}
        <form action="/cramschool/meetings/{{this.id}}?_method=DELETE" method="POST"
          style="display: inline;">
          <button type="submit" class="btn btn-danger btn-sm ml-1 my-1">刪除</button>
        </form>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<a href="/cramschool/meetings/create" class="btn btn-primary mb-2">建立會議記錄</a>

<br />
<br />
<a class="ml-2" href="/cramschool">回到主頁面</a>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="/cramschool/meetings?page={{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each totalPage}}
    {{#ifCond this ../page}}
    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
    {{else}}
    <li class="page-item"><a class="page-link"
        href="/cramschool/meetings?page={{this}}">{{this}}</a></li>
    {{/ifCond}}
    {{/each}}
    <li class="page-item"><a class="page-link" href="/cramschool/meetings?page={{next}}"
        aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
