<br>

<h1>{{course.name}}</h1>

<h5 class="ml-2" style="color: rgb(126, 120, 113);">{{student.name}} 的收費紀錄</h5>

<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">目前期數</th>
      <th scope="col">開立日期</th>
      <th scope="col">價格</th>
      <th scope="col">付款狀態</th>
      <th scope="col">付款日期</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each tuition}}
    {{#ifCond this.Payment.id null}}
    
    {{else}}
    <tr class="table-light">
      <th scope="row">{{this.Payment.id}}</th>
      <td>{{this.Payment.currentPeriod}}</td>
      <td>{{this.Payment.time}}</td>
      <td>{{this.Payment.amount}}</td>
      {{#if this.Payment.isPaid }}
      <td style="color: rgb(11, 189, 41);">已繳費 √</td>
      <td style="color: rgb(70, 175, 49);">
        {{currentTime this.Payment.updatedAt}}
      </td>
      <td>
        <a href="/cramschool/tuition/{{this.id}}" class="btn btn-sm btn-link">費用明細</a>
      </td>
      {{else}}
      <td style="color: rgb(199, 24, 24);">未繳費 ×</td>
      <td style="color: rgb(56, 55, 55);">暫無繳款日期</td>
      <td>
        <form action="/cramschool/payment/{{this.Payment.id}}/paid?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-primary btn-sm my-1">已收款</button>
        </form>
        <form action="/cramschool/payment/{{this.Payment.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-sm btn-danger">刪除</button>
        </form>
      </td>
      {{/if}}
    </tr>
    {{/ifCond}}
    {{/each}}
  </tbody>
</table>

<br />
<br />
<a href="/cramschool/payment/courses/{{course.id}}">回上一頁</a>