<br />

<h2 style="color: rgb(151, 151, 135);"><strong>學生基本資料</strong></h2>

<br />

<div class="card">
  <div class="row g-0">
    <div class="col-md-4">
      {{#if student.image}}
      <img src="{{student.image}}" class="img-fluid rounded-start" style="height: 20em; width: 20em;">
      {{/if}}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title" style="color: rgb(128, 66, 15);">{{student.name}}</h4>
        <p class="card-text"><strong>性別 : </strong> {{student.sex}}</p>
        <p class="card-text"><strong>生日 : </strong> {{student.birth}}</p>
        <p class="card-text"><strong>學校 : </strong> {{student.school}}</p>
        <p class="card-text"><strong>年級 : </strong> {{student.grade}}</p>
        <p class="card-text"><strong>聯絡電話 : </strong> {{student.tel}}</p>
        <p class="card-text"><strong>地址 : </strong> {{student.address}}</p>
      </div>
    </div>
  </div>
</div>

<hr>

{{#if enrolledCourses}}
<h2 style="color: rgb(151, 151, 135);">目前正在進行的課程:</h2>
{{else}}
<h2 style="color: rgb(151, 151, 135);">目前無進行中的課程</h2>
{{/if}}
<br>

<div class="row">
{{#each enrolledCourses}}
{{#if isActive }}
<div class="card col-md-3">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="/cramschool/courses/{{this.id}}/calendar" class="card-link">課程行事曆</a>
    <a href="/cramschool/students/{{../student.id}}/courses/{{this.id}}/attend" class="card-link">出缺席狀況</a>
  </div>
</div>
{{/if}}
{{/each}}
</div>
<br />
<br />
<a href="javascript:history.back()">回上一頁</a>