<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/cramschool">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/courses">課程總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/teachers">老師總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/cramschool/students">學生總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/meetings">會議記錄</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/attend">課程點名</a>
  </li>
  {{#if isAdmin}}
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/payment">學費計算</a>
  </li>
  {{/if}}
</ul>

<br>

<form action="/cramschool/students">
  <div class="form-group d-flex justify-content-center">
    <label class="mr-2 mt-1" for="courseId"><strong style="color: rgb(83, 6, 6);">篩選: </strong></label>
    <select name="courseId" id="courseId" class="form-control-sm col-8" onchange="this.form.submit()">
      <option value="" {{#ifCond '' courseId}} selected{{/ifCond}}>全部學生</option>
      {{#each courses}}
        <option value="{{this.id}}" {{#ifCond this.id ../courseId}} selected{{/ifCond}}>{{this.name}}</option>
      {{/each}}
    </select>
  </div>
</form>

{{#if isFilter}}
<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">學生姓名</th>
      <th scope="col">學校</th>
      <th scope="col">年級</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each students}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.school}}</td>
      <td>{{this.grade}}</td>
      <th scope="col">
        <a href="/cramschool/students/{{this.id}}" class="btn-sm btn-dark">基本資料</a>
      </th>
    </tr>
    {{/each}}
  </tbody>
</table>

{{else}}
<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">學生姓名</th>
      <th scope="col">學校</th>
      <th scope="col">年級</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each students}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.school}}</td>
      <td>{{this.grade}}</td>
      <th scope="col">
        <a href="/cramschool/students/{{this.id}}" class="btn-sm btn-dark">基本資料</a>
      </th>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}

<br />
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="/cramschool/students?page={{prev}}&courseId={{courseId}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each totalPage}}
    {{#ifCond this ../page}}
    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
    {{else}}
    <li class="page-item"><a class="page-link"
        href="/cramschool/students?page={{this}}&courseId={{../courseId}}">{{this}}</a></li>
    {{/ifCond}}
    {{/each}}
    <a class="page-link" href="/cramschool/students?page={{next}}&courseId={{courseId}}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
    </li>
  </ul>
</nav>