<br>

<h1>{{course.name}}</h1>

<h5 class="ml-2" style="color: rgb(126, 120, 113);">學生列表</h5>

<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">學生姓名</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each students}}
    {{#ifCond this.status 1}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <th scope="col">
        <a href="/cramschool/tuition/courses/{{../course.id}}/students/{{this.id}}" class="btn-sm btn-secondary">歷期學費列表</a>
        <a href="/cramschool/payment/courses/{{../course.id}}/students/{{this.id}}" class="btn-sm btn-dark">查看收費紀錄</a>
      </th>
    </tr>
    {{/ifCond}}
    {{/each}}
    {{#if isStudentNotExist}}
    <tr class="table-light">
      <th colspan="3" style="color: rgb(192, 72, 16);text-align: center;">目前暫無註冊學生</th>
    </tr>
    {{/if}}
  </tbody>
</table>

<div class="row">
  <form action="/cramschool/tuition/courses/{{course.id}}/bulkcreate" method="POST" style="display: inline;">
    <button type="submit" class="btn btn-primary ml-3">建立新一期收費</button>
  </form>
  <p class="mx-2 my-2" style="color: brown;">*此功能為此課程所有學生建立收費表</p>
</div>


<br />
<br />
<a href="/cramschool/payment">回上一頁</a>