<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/cramschool">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/courses">課程總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/cramschool/teachers">老師總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/students">學生總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/attend">課程點名</a>
  </li>
  {{#if isAdmin}}
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/payment">學費計算</a>
  </li>
  {{/if}}
</ul>

<br>

<div class="row">
  {{#each teachers}}
  <div class="col-md-3 mt-3">
    <div class="card">
      <div class="card-body text-white bg-secondary">
        <h5 class="card-title"><strong>{{this.name}}</strong></h5>
      </div>
      <img src="{{this.image}}" height="280px" style="background-color: rgb(242, 250, 255);">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>連絡電話: </strong>{{this.phone}}
        </li>
        <li class="list-group-item">
          <strong>信箱: </strong>{{this.User.dataValues.email}}
        </li>
      </ul>
      <div class="card-body" style="background-color: rgb(229, 228, 226);">
        <a href="/users/{{this.UserId}}" class="card-link">基本資料</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>

