<h2><strong>{{tuitionCourse.Course.name}}</strong></h2>
<h4 style="color: rgb(87, 84, 84);"><strong>第 {{tuitionCourse.period}} 期學費表</strong></h4>
<h5 style="color: rgb(153, 151, 147);"><strong>學生: {{tuitionStudent.Student.name}}</strong></h5>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">費用名稱</th>
          <th scope="col">價格</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light">
          <td></td>
          <td>基本學費</td>
          <td>{{tuition.dataValues.course_price}}</td>
        </tr>
        {{#each tuition.RequiredFee}}
        <tr class="table-light">
          <td>+</td>
          <td>{{this.dataValues.name}}</td>
          <td>{{this.dataValues.FeeList.dataValues.price}}</td>
        </tr>
        {{/each}}
        <tr class="table-light">
          <td colspan="2" style="text-align: start;">
            <h5><strong>總和: </strong></h5>
          </td>
          <td style="text-align: start;">
            <h5>{{tuitionCourse.amounts}}</h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>