<br>

<h1>{{course.name}}</h1>

<h5 class="ml-2" style="color: rgb(126, 120, 113);">{{student.name}} 的歷期學費表</h5>

<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">期數</th>
      <th scope="col">開立日期</th>
      <th scope="col">狀態</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each tuitions}}
    {{#ifCond this.Payment.id null}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.period}}</td>
      <td>{{#currentTime this.createdAt}}{{/currentTime}}</td>
      <td style="color: rgb(204, 61, 57);">尚未遞交 ×</td>
      <td>
        <a href="/cramschool/tuition/{{this.id}}/edit" class="btn btn-sm btn-dark my-1">確認學費表費用</a>
        <form action="/cramschool/tuition/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-sm btn-danger">刪除</button>
        </form>
      </td>
    </tr>
    {{else}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.period}}</td>
      <td>{{#currentTime this.createdAt}}{{/currentTime}}</td>
      <td style="color: rgb(57, 167, 94);">已遞交 √</td>
      <td>
        <a href="/cramschool/tuition/{{this.id}}" class="btn btn-sm btn-link">費用明細</a>
      </td>
    </tr>
    {{/ifCond}}
    {{/each}}
    {{#if tuitionNotExist}}
    <tr class="table-light">
      <th colspan="5" style="color: rgb(192, 72, 16);text-align: center;">目前暫時無學費紀錄</th>
    </tr>
    {{/if}}
  </tbody>
</table>

<div class="row">
  <form action='/cramschool/tuition/courses/{{course.id}}/students/{{student.id}}' method="POST" style="display: inline;">
    <button type="submit" class="btn btn-primary ml-3">建立學費表</button>
  </form>
  <p class="mx-2 my-2" style="color: brown;">*此功能專為此學生建立學費表</p>
</div>


<br />
<br />
<a href="/cramschool/payment/courses/{{course.id}}">回上一頁</a>