<br>

<h3 style="color: rgb(77, 136, 212);"><strong>教師基本資料</strong></h3>

<br>

<div class="card mb-3" style="max-width: 1200px">
  <div class="row g-0">
    <div class="col-md-4">
      {{#if teacher.image}}
      <img src="{{teacher.image}}" class="img-fluid rounded-start" alt="..." style="width:400px; height:400px">
      {{/if}}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><strong>{{teacher.name}}</strong></h4>
        <p class="card-text"><strong>性別 : </strong>{{teacher.sex}}</p>
        <p class="card-text"><strong>生日 : </strong>{{teacher.birth}}</p>
        <p class="card-text"><strong>電話 : </strong>{{teacher.phone}}</p>
        <p class="card-text"><strong>信箱 : </strong>{{user.email}}</p>
        <p class="card-text"><strong>地址 : </strong>{{teacher.address}}</p>
        <p class="card-text"><strong>最高學歷 : </strong>{{teacher.education}}</p>
        <p class="card-text"><strong>學校 : </strong>{{teacher.school}}</p>
        {{#if userIsMatch}}
        <a href="/users/{{user.id}}/edit">
          <button type="button" class="btn btn-primary">新增/修改個人資料</button>
        </a>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<br>

{{#if courses}}
<h2 style="color: rgb(151, 151, 135);">目前正在教授的課程:</h2>
{{else}}
<h2 style="color: rgb(151, 151, 135);">目前無正在教授的課程</h2>
{{/if}}
<br>

<div class="row">
{{#each courses}}
<div class="card col-md-3">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="/cramschool/courses/{{this.id}}/calendar" class="card-link">課程行事曆</a>
    <a href="/cramschool/courses/{{this.id}}/enrolledstudents" class="card-link">學生上課名冊</a>
  </div>
</div>
{{/each}}
</div>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>